<div class="container-pres">
  <div class="img-club" data-aos="zoom-in">
    <h2>Présentation</h2>
  </div>
  <div class="div-txt" data-aos="fade-left">
    <p>
      Le club de handball, situé dans la ville beauzelle et plus précisément dans la salle multisport "Eugéne Chamayou",
      a
      été fondé en 1965. Il compte aujourd'hui 250 licenciés de tous âges (de moins de 9 ans jusqu'à seniors et
      vétérans).
      Il est notamment connu pour ses tournois de la galette organisés tous les ans dont chaque club de la Haute-Garonne
      peut participer. Le club de Beauzelle est dans un esprit familial.
    </p>

    <img src="assets/img/prsn%20handball.png" height="280px" width="300px">
  </div>


</div>
