.body-match{
  width: 100%;
  display: flex;

  & .img-terrain{
    background-image: url("~src/assets/img/handterrain.jpg");
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
    & h2{
      font-size: 7em;
      color: white;
      text-decoration: underline;
    }
  }

  & .div-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p{
      font-size: 1.5em;
    }

    & .intromatchs{
      text-decoration: underline;
    }
  }
}
