<div class="body-equipe">
  <div class="titre-equipe">
    <h2 >Equipes</h2>
  </div>

  <p class="titre">Voici les équipes de la saison </p>

  <div class="contenu">
  <p>— -9 (mixte) (7-8 ans).<br><br>
    <strong>— -11 (9-10 ans)</strong><br>
    — 2 équipes de Garçons<br>
    — 1 équipe de Filles<br><br>
    <strong>— -13 (11-12 ans)</strong><br>
    — 2 équipes de Garçons<br>
    — 1 équipe de Filles<br><br>
    <strong>— -15 (13-14 ans)</strong><br>
    — 1 équipe de Garçons<br>
    — 1 équipe de Filles<br><br>
  </p>
    <img src="assets/img/handballeur1.jpg" height="400" width="400" data-aos="fade-down-right">

    <img src="assets/img/handballeur2.png" width="400" height="400" data-aos="fade-down-left">
  <p >
    <strong>— -17</strong><br>
    — Pas d'équipes cette saison<br><br>
    <strong>— -18 (16-17 ans)</strong><br>
    — 1 équipe de Garçons<br>
    — 1 équipe de Filles<br><br>
    <strong>— Seniors</strong><br>
    — 2 équipes de Garçons<br>
    — 2 équipes de Filles<br>
  </p>


  </div>
</div>
