<div class="div-menu">
  <img src="assets/img/logo.png" height="100" width="100">
  <ul class="menu" data-aos="menu-area" data-aos-anchor-placement="top-center">
    <li><a (click)="this.navigateToId('presentation')" title="Présentation">Présentation</a></li>
    <li><a (click)="this.navigateToId('equipes')" title="Equipes">Equipes</a></li>
    <li><a (click)="this.navigateToId('matchs')" title="Matchs">Matchs</a></li>
    <li><a (click)="this.navigateToId('contact')" title="Contact">Nous Contacter</a></li>
  </ul>
</div>
